
code {
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}

.arial {
    font-family: Arial;
}

#answer {
    background-image: url(../img/answer.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;

}

#y1 {
    color:white;
    font-family: Candycane;
    font-size: 29px;
    margin-left: 80px;

}

#z1 {
    text-decoration: none;
    display:inline-block;
    font-family: Candycane;
    color: white;
}

#z2 {
    color: white;
}

#z3 {
    color: red;
}

#z4 {
    color: red;
}

.aadvent{
    color: #61fa8a;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Candycane";
    src: url(../Candcu__.ttf);
}

@font-face {
    font-family: "Christmas";
    src: url(../Christmas.ttf);
}

.door {
    font-family: "Candycane";
    font-size: 65px;
    width: 100px;
    height: 100px;
    margin: 5px;
}

td {
    width: 100vh;
    height: 120px;
}
a:link{
    text-decoration: none
}



#z3 {
    text-align: center;
    font-family: "Christmas";
}

.door {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;

}

.open {
    background-image: url("../img/dooropen.png"); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;

}

.closed {
    background-image: url("../img/door.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;
}

.advent {
    background-image: url("../img/kranz.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;
    
}

.lastopen {
    background-image: url("../img/open-box.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;
}

.lastclosed {
    background-image: url("../img/present.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;
}
