#z1 {
    text-decoration: none;
}

#z2 {
    color: white;
}

#z3 {
    color: red;
}

#z4 {
    color: red;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Candycane";
    src: url(../static/Candcu__.ttf);
}

@font-face {
    font-family: "Christmas";
    src: url(../static/Christmas.ttf);
}

.tuer {
    font-family: "Candycane";
    font-size: 65px;
    width: 100px;
    height: 100px;
    margin: 5px;
}

td {
    width: 100vh;
    height: 120px;
}
a:link{
    text-decoration: none
}

a:visited{
    color: blue
}

#z3 {
    text-align: center;
    font-family: "Christmas";
}
