
code {
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}

#y1 {
    color:white;
    font-family: Candycane;
    font-size: 29px;
    margin-left: 80px;

}

#z1 {
    text-decoration: none;
    display:inline-block;
    font-family: Candycane;
    color: white;
}

#z2 {
    color: white;
}

#z3 {
    color: red;
}

#z4 {
    color: red;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Candycane";
    src: url(../static/Candcu__.ttf);
}

@font-face {
    font-family: "Christmas";
    src: url(../static/Christmas.ttf);
}

.door {
    font-family: "Candycane";
    font-size: 65px;
    width: 100px;
    height: 100px;
    margin: 5px;
}

td {
    width: 100vh;
    height: 120px;
}
a:link{
    text-decoration: none
}

a:visited{
    color: blue
}

#z3 {
    text-align: center;
    font-family: "Christmas";
}

.door {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;

}

.open {
    background-image: url("../static/img/dooropen.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;

}

.closed {
    background-image: url("../static/img/door.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: no-repeat;
    z-index: 100;
}

