<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>{{ title }}</title>

        <style>

    {% for tueren in tuerliste %}

    #tuer{{ tueren.nr }} {
       /* background-color: {{ tueren.farbe }}; */
        background-image: url("../static/img/door.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position-x: center;
        bottom: {{ tueren.ypos }}px;
        left: {{ tueren.xpos }}px;

    }

    {% endfor %}

    

        </style>


    </head>
    <body>

        <h1>Wilkommen auf der Startseite!</h1> 


       <table>
        {% for row in range(4) %}
        <tr>

            {% for col in range(6) %}
            <td> 
                <div class="tuer" id="tuer{{ tuerliste[ row * 6 + col].nr }}" style="position:relative">
                    <div style="position:absolute">
                    <a href="./tuer/{{ tuerliste[ row * 6 + col].nr }}">{{ tuerliste[ row * 6 + col].nr }}</a>
                    </div>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
       </table>



   
        

    </body>
</html>