<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>{{ title }}</title>

        <style>

    {% for x in tuerliste %}

    #tuer{{ x.nr }} {
        background-color: {{ x.farbe }};
    
    
    
    }

    {% endfor %}

    .tuer {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 5px;

    
}


        </style>


    </head>
    <body>

        <h1>Wilkommen auf der Startseite {{ username }}!</h1> 


       <table>
        {% for row in range(4) %}
        <tr>
 
            {% for col in range(6) %}
            <td> 

                <div class="tuer" id="tuer{{ tuerliste[ row * 6 + col].nr }}" >
                    <a href="./tuer/{{ tuerliste[ row * 6 + col].nr }}">{{ tuerliste[ row * 6 + col].nr }}</a>
                     </div>

            </td>
            {% endfor %}

        </tr>
        {% endfor %}
       </table>



   
        

    </body>
</html>