<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/lights.css">
    <title>{{ title }}</title>

</head>

    {% if nr == 4 or nr == 11 or nr == 18 %}

        <body style="background-image: url(../static/img/green.webp);">
    {% else %}

        <body style="background-image: url(../static/img/red.jpg);">
    {% endif %}


        <a id="z1" href="{{ url_for('start') }}"><.zurueck</a>
                {% if nr == 4 %}
                <h1 style="margin-left: 5px" id="z1">Adventskalender 2022 Aufgabe Nr<span class="arial">.</span>{{ nr }} -- 2<span class="arial">.</span> Advent </h1>
                <div class="candle">
                    {% for candle in range(2) %}
                    <img src="../static/img/candle.png" width="50px" >
                    {% endfor %}
                </div>
                {% elif nr == 11 %}
                <h1 style="margin-left: 5px" id="z1">Adventskalender 2022 Aufgabe Nr<span class="arial">.</span>{{ nr }} -- 3<span class="arial">.</span> Advent </h1>
                <div class="candle">
                    {% for candle in range(3) %}
                    <img src="../static/img/candle.png" width="50px" >
                    {% endfor %}
                </div>
                {% elif nr == 18 %}
                <h1 style="margin-left: 5px" id="z1">Adventskalender 2022 Aufgabe Nr<span class="arial">.</span>{{ nr }} -- 4<span class="arial">.</span> Advent </h1>
                <div class="candle">
                    {% for candle in range(4) %}
                    <img src="../static/img/candle.png" width="50px" >
                    {% endfor %}
                </div>
                {% else %}
                <h1 style="margin-left: 5px" id="z1"  >Adventskalender 2022 Aufgabe Nr<span class="arial">.</span>{{ nr }} -- - ------ </h1>
                {% endif %}
                <p id="z1" style="margin-left: 270px"> {{ d1 }}<span class="arial">.</span>{{ m1 }}<span
                        class="arial">.</span>2022</p>

                <h2 id="y1">Deine Aufgabe Lautet:</h2>

                <div id="y1">
                    {% autoescape false %}
                    {{ x }}
                    {% endautoescape %}
                </div>


                    <div class="logoContainer">
                        <a href="../loesungen/{{ nr }}"><img src="../static/img/answer.png" width="160px"></a>
                        <div class="logoCentered"><a id="z2" href="../loesungen/{{ nr }}">Loesung</a></div>
                    </div>
     


                {% if nr == 24 %}
                    <div class="tree">
                        <img src="../static/img/tree.png" alt="tree" width="180px">
                    </div>
                {% endif %}

    </body>

</html>