<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="../static/css/style.css">
        <title>{{ title }}</title>

    </head>
    <body style="background-image: url(../static/img/red.jpg);">

        
       <a id="z1" href="{{ url_for('start') }}"><.zurueck</a> 
       <h1 style="margin-left: 5px" id= "z1">Adventskalender 2022  Tuer Nr.{{ nr }}</h1>
       <p id="z1" style="margin-left: 540px" >  {{ d1 }}.{{ m1 }}.2022</p>

       <div id="answer">
       <a href="../loesungen/{{ nr }}">hallo</a>
        </div>
       

        <h2 id="y1" >Deine Aufgabe Lautet:</h2>

    <div id="y1" >
        {% autoescape false %}
            {{ x }}
        {% endautoescape %}    
    </div>
     

    </body>
</html>
